@font-face {
    font-family: Heads;
    src: url(../fonts/OpenSans-Bold.ttf);
}

.cards{
    background-color:rgba(0, 0, 0, 0.836) ;
   
    

}

.card1{
    border: 2px solid black;
    border-style: none;
    display: inline-block;
    vertical-align: top;
    background-image: url(../images/1.jfif);
    background-repeat: no-repeat;
    margin-left: 260px;
    margin-top: 100px;
    margin-right: 60px;
    margin-bottom: 110px;
    
}
.card2{
    border: 2px solid black;
    border-style: none;
    display: inline-block;
    vertical-align: top;
    background-image: url(../images/2.jfif);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 100px;
    margin-right: 60px;
    margin-bottom: 110px;
    
    
}
.card3{
    border: 2px solid black;
    border-style: none;
    display: inline-block;
    vertical-align: top;
    background-image: url(../images/1.jfif);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 100px;
    margin-right: 200px;
    margin-bottom: 110px;
    
}

.icon{
    display: inline-block;
    margin-top: 106px;
    margin-bottom: 106px;
    margin-left: 42px;
    margin-right: 42px;
    border: 2px solid green;
    border-radius: 40%;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: green;
    font-family: heads;

    
}



.p1{
    border-bottom: 1px solid black;
    border-top-width: thick;
    align-items: flex-end;
    text-align: center;
    
}
.p2{
    border-bottom: 1px solid black;
    border-top-width: thick;
    align-items: flex-end;
    text-align: center;
}
.p3{
    border-bottom: 1px solid black;
    border-top-width: thick;
    align-items: flex-end;
    text-align: center;
}
.p4{
    border-bottom: 1px solid black;
    border-top-width: thick;
    align-items: flex-end;
    text-align: center;
}
.p5{
    border-bottom: 1px solid black;
    border-top-width: thick;
    align-items: flex-end;
    text-align: center;
}

.h3{

    background-color: rgba(0, 0, 0, 0.253);
    margin-left: 70px;
    margin-right: 20px;
    margin-bottom: 50px;
    font-family: heads;
}